
.imagen{
	text-align: center;
	padding-left: 257.5px;
	padding-top: 10px;
	margin: 0px; /* utiliza todo el tamaño, margen 0px = auto*/
}
#header{
	background-color: #EFF8FB;
	height: 150px;
	line-height: 150px;
}
#header-title{
	display: block;
	float: left;

	font-size: 20px;
	font-weight: bold;
}
#header a {
	color: #424242;
	text-decoration: none;

	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#header a:hover{
	color: #222;
}
#header-nav{
	display: block;
	float: right;
	margin-top: 0;
}
#header-nav li{
	display: inline;
	padding-left: 20px;
	padding-right: 0px;
}
#content{ /* todo el ancho de la página*/
	background-color: #5663BF;
	float: left;
	
	width: 100%;
	height: 1000px;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
}

body{
	margin: 0;
	color: #555;

	font-family: 'Montserrat', sans-serif;
}
.post, .about {
	max-width: 800px;
	margin: 0 auto;
	padding: 60px 0;
}
.about {
	text-align: center;
}
h1, h2, h3, h4 {
	color: #333;
}
p {
	line-height: 1.5;
}
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.post-title {
	margin: 0px auto 0px auto;  arriba derecha abajo izquierda
}
.post-content {
background-color: #ECF8E0;
	width: 150px;
	margin: auto;
	padding:5px;
	border: 1px solid black;
	display: inline-block;
}

#footer{
	background-color: #EFF8FB;
	padding: 50px 0;
	clear: both;
}

.column{
	min-width: 300px;
	display: inline-block;
	vertical-align: top;
}

#footer h4{
	color: #31727C;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#footer p{
	color: #919A9B;
}

a {
	color: #919A9B;
	text-decoration: none;
}

a:hover {
	color: #f6a623;
}
